.quote {
	display: flex;
	width: 100%;
	max-width: 250px;

	@include respond-to(md) {
		max-width: 320px;
	}

	@include respond-to(xl) {
		width: 57.5%;
		max-width: none;
	}

	@include respond-to(xxl) {
		width: 50%;
	}

	@include when-inside(".info") {
		padding-right: 5px;
	}

	// .quote__wrapper
	&__wrapper {
		width: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 8px 0 0;
		margin-left: -11px;

		@include respond-to(md) {
			width: 35px;
			padding: 5px 8px 5px 0;
		}
		@include respond-to(lg) {
			margin: 0 8px 0 -43px;
		}
	}

	// .quote_blue
	&_blue {
		color: $brand-color-primary;
	}

	// .quote_w100
	&_w100 {
		width: 100% !important;
	}

	// .quote__vertical
	&__vertical {
		font-size: rem(9);
		line-height: 1.2;
		transform: rotate(-90deg);

		@include respond-to(md) {
			font-size: rem(12);
		}

		@include respond-to(xl) {
			white-space: nowrap;
			padding-top: 10px;
		}
	}
	// .quote__text
	&__text {
		font-size: rem(12);
		line-height: 1.2;

		@include respond-to(md) {
			font-size: rem(16);
		}

		@include respond-to(xl) {
			font-size: rem(20);
			// min-height: 130px;
		}
	}
}

// Упрощённые цитаты для текстов, новостей и модальных окон. С указанием автора внизу.
// figure>blockquote+figcaption
figure {
	position: relative;
	width: 85%;
	max-width: 500px;
	padding-left: 38px;
	margin: 40px auto;

	@include when-inside(".news__detail") {
		@include respond-to(lgx) {
			margin-left: 200px;
		}
	}

	@include when-inside(".modal__text") {
		width: 100%;
		max-width: 100%;
		padding-left: 0;
		margin: 20px 0 27px;
	}

	blockquote {
		color: $brand-color-primary;
		font-size: rem(16);
		line-height: 1.2;

		@include respond-to(md) {
			font-size: rem(18);
		}

		@include when-inside(".news__detail") {
			@include respond-to(lgx) {
				font-size: rem(20);
			}
		}

		@include when-inside(".modal__text") {
			color: $cyan;
			&::before {
				left: -38px;
			}
		}
	}

	figcaption {
		margin-top: 12px;
		font-size: rem(14);

		@include when-inside(".modal__text") {
			font-size: rem(12);
		}

		&::before {
			content: "— ";
		}
	}
}
