.social {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	padding: 20px 7px;
	border-left: 1px solid $brand-color-primary;

	@include respond-to(xm) {
		padding: 20px 19px;
	}

	@include respond-to(sm) {
		width: 30%;
	}

	@include respond-to(md) {
		padding: 36px 19px 31px;
	}

	@include when-inside(".footer") {
		padding: 0 19px 20px;

		@include respond-to(xm) {
			padding: 36px 19px 87px;
		}

		@include respond-to(xl) {
			padding-bottom: 128px;
		}
	}

	// .social_fixed
	&_fixed {
		height: 100%;
		padding: 0 7px;
		justify-content: center;

		@include respond-to(md) {
			padding: 20px;
		}
	}

	// .social__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 9px;
	}
	// .social__item
	&__item {
		padding: 0;
		margin: 0;
	}
	// .social__link
	&__link {
		display: block;
		width: 18px;
		height: 18px;

		@include respond-to(md) {
			width: 22px;
			height: 22px;
		}

		@include respond-to(xl) {
			width: 25px;
			height: 25px;
		}

		@include on-event {
			svg {
				fill: $hover-red;
			}
		}

		svg {
			width: 18px;
			height: 18px;
			fill: $red;
			transition: all $transition-default;

			@include respond-to(md) {
				width: 22px;
				height: 22px;
			}

			@include respond-to(xl) {
				width: 25px;
				height: 25px;
			}
		}
	}
}

.lang {
	opacity: 0 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40px;
	height: 24px;
	border: 1px solid $brand-color-primary;
	border-radius: 16px;
	margin-left: -3px;
	margin-bottom: 10px;
	transition: opacity $transition-default;

	@include when-inside(".social_fixed") {
		margin-bottom: 0;
	}
	
	@include respond-to(md) {
		width: 58px;
		height: 28px;
	}

	@include respond-to(xl) {
		width: 67px;
		height: 33px;
	}

	// .lang_en
	&_en {
		padding-left: 3px;
		align-items: flex-start;
	}
	// .lang_ru
	&_ru {
		padding-right: 3px;
		align-items: flex-end;
	}
	// .lang__link
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background: $red;
		color: $white;
		text-decoration: none;
		line-height: 1;
		font-size: rem(11);
		font-weight: 500;

		@include on-event {
			background: $hover-red;
			color: $white;
		}

		@include respond-to(md) {
			width: 22px;
			height: 22px;
		}

		@include respond-to(xl) {
			padding-top: 0;
			width: 25px;
			height: 25px;
			font-size: rem(13);
		}
	}
}
