.icon-arrow-quote {
	width: 35px;
	height: 25px;

	// position: absolute;
	// top: 5px;
	// left: -40px;
}

.icon-arrow-news {
	width: 35px;
	height: 25px;
	margin-left: 10px;
	transform: rotate(180deg);
}

.icon-footnote {
	width: 2.5vw;
	height: 2.5vw;

	@include respond-to(lg) {
		width: 23px;
		height: 23px;
	}
}

.icon-dugon {
	width: 330px;
	height: 101px;
	transition: all $transition-default;

	@include respond-to(xl) {
		width: 440px;
		height: 135px;
	}
}

.icon-diver {
	width: 94px;
	height: 69px;
	left: 21%;
	top: 18%;
	transition: all $transition-default;

	@include respond-to(xl) {
		width: 125px;
		height: 96px;
		left: 20%;
		top: 20%;
	}
}

.icon-ruler {
	width: 100%;
	height: 27px;
	bottom: 0;
	z-index: -1;
	transition: all $transition-default;

	
	@include respond-to(xl) {
		height: 37px;
	}
}
