.arrow {
	position: relative;
	// white-space: nowrap;

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 17px;
		height: 17px;
		border-top: 2px solid $cyan;
		border-left: 2px solid $cyan;
		transition: border-color $transition-default;
	}

	&::before {
		content: "";
		display: block;
		transform: rotate(45deg);
	}

	// .arrow_disabled
	&_disabled {
		opacity: 0.65;
		cursor: default;
	}

	// .arrow_next
	&_next {
		&::after,
		&::before {
			transform: rotate(135deg);
			right: 0;
		}
	}

	// .arrow_prev
	&_prev {
		&::after,
		&::before {
			transform: rotate(-45deg);
			left: 0;
		}
	}

	// .arrow_up
	&_up {
		&::after,
		&::before {
			transform: rotate(45deg);
			left: 175px;
		}
	}

	// .arrow_down
	&_down {
		&::after,
		&::before {
			transform: rotate(-135deg);
			right: 175px;
		}
	}
}

blockquote {
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 35px;
		height: 27px;
		background: url($arrow-double) 0 0 / contain no-repeat;
	}
}