<div class="header header_fixed">
	<div class="content header__wrapper">
		<div class="logo logo_fixed">
			<a href="/" class="logo__link">
				<svg class="logo__svg">
					<use xlink:href="#logo-min"></use>
				</svg>
			</a>
		</div>
		<div class="navigation navigation_fixed">
			<input id="menu-toggle" class="menu-toggle" type="checkbox" />
			<label class="hamburger-box" for="menu-toggle">
				<div class="hamburger-inner"></div>
			</label>
			<div class="social social_fixed">
				<div class="lang lang_en">
					<a href="https://www.arcticsirenia.com" class="lang__link" aria-label="English">En</a>
				</div>
			</div>
		</div>
	</div>
</div>
