// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
	display: flex;
	flex-direction: column;
	// padding-top: 34px;
	// padding-left: 55px;

	@include respond-to(xm) {
		flex-direction: row;
	}
}