// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	z-index: 10;
	display: flex;
	background: $white;
	transition: top 0.5s ease-in-out;

	// .header_scroll
	&_scroll {
		position: fixed;
		top: -100%;
		width: 100%;
		border-bottom: 1px solid $brand-color-primary;
	}

	// .header_show
	&_show {
		top: 74px;
	}

	// .header_fixed
	// https://www.w3schools.com/howto/howto_js_navbar_slide.asp
	&_fixed {
		z-index: 11;
		position: fixed;
		top: -74px;
		height: 74px;
		width: 100%;
		border-bottom: 1px solid $brand-color-primary;
	}

	// .header__wrapper
	&__wrapper {
		display: flex;
		width: 100%;
	}
}
