.news-main {
	position: relative;
	padding: 97px 0 75px;
	background: $brand-color-secondary url(@img/bgr_about.png) left 35% bottom -1300px no-repeat;

	@include respond-to(md) {
		padding-top: 150px;
	}

	@include respond-to(xl) {
		padding-top: 222px;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		max-width: 1440px;
		height: 183px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background: url($brace-wide-white) center 0 / 100% no-repeat;
	}

	// .news-main__top
	&__top {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 85px;

		@include respond-to(xl) {
			grid-column-gap: 125px;
		}
	}

	// .news-main__gallery
	&__gallery {
		display: none;

		@include respond-to(md) {
			display: block;
		}
	}

	// .news-main__gallery-link
	&__gallery-link {
		display: inline-flex;
		align-items: center;
		color: $cyan !important;
		text-transform: uppercase;
		text-decoration: none;

		@include on-event('hover') {
			color: $white !important;

			.news-main__gallery-image {
				transform: scale(1.2);
			}

			.news-main__gallery-label {
				&::before {
					border-color: $white;
					transform: rotate(45deg);
				}
				&::after {
					border-color: $white;
					transform: rotate(45deg);
				}
			}
		}
	}

	// .news-main__gallery-image
	&__gallery-image {
		display: block;
		width: 100px;
		height: 100px;
		margin-right: 27px;
		object-fit: cover;
		border-radius: 50%;
		transition: all $transition-default;
	}

	// .news-main__gallery-label
	&__gallery-label {
		display: inline-block;
		position: relative;
		font-size: rem(20);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: -32px;
			height: 28px;
			border-left: 2px solid $cyan;
			transition: all $transition-default;
		}
		&::after {
			content: "";
			position: absolute;
			top: 13px;
			right: -45px;
			width: 28px;
			border-top: 2px solid $cyan;
			transition: all $transition-default;
		}
	}

	// .news-main__list
	&__list {
		@include respond-to(lg) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 1fr;
			grid-column-gap: 85px;
		}

		@include respond-to(xl) {
			grid-column-gap: 125px;
		}
	}

	// .news-main__all
	&__all {
		display: flex;
		justify-content: center;
		margin-top: 80px;
	}
}
