.news {
	position: relative;
	padding: 97px 0 84px;
	background: $brand-color-secondary;

	@include respond-to(md) {
		padding-top: 150px;
	}

	@include respond-to(xl) {
		padding-top: 222px;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		max-width: 1440px;
		height: 183px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background: url($brace-wide-white) center 0 / 100% no-repeat;
	}

	@include respond-to(xl) {
		padding-bottom: 144px;
	}

	// .news__list
	&__list {
		column-width: 360px;
		column-count: 2;
		column-gap: 17px;

		@include respond-to(md) {
			margin-top: 40px;
		}
	}
	// .news__item
	&__item {
		position: relative;
		break-inside: avoid-column;
		padding: 35px 0 36px;
		border-bottom: 1px solid $white;
	}

	// .news__header
	&__header {
		margin-bottom: 32px;
		color: $white;

		@include respond-to(xl) {
			font-size: rem(20);
		}
	}

	// .news__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	// .news__date
	&__date {
		font-size: rem(12);
		font-weight: 300;
		color: $red;
		margin-right: 15px;

		@include respond-to(lg) {
			font-size: rem(18);
		}
	}

	// .news__link
	&__link {
		font-size: rem(18);
		line-height: 0.9;
		font-weight: 700;
		color: $cyan;
		text-decoration: none;

		@include respond-to(lg) {
			font-size: rem(30);
		}

		@include respond-to(xl) {
			font-size: rem(43);
		}

		@include on-event {
			color: $white;
		}
	}

	// .news__more
	&__more {
		// position: absolute;
		// right: 0;
		// bottom: 36px;
	}

	// .news__more-link
	&__more-link {
		display: flex;
		align-items: center;
		font-size: rem(11);
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;
		color: $white !important;
	}
}
