.about {
	@include respond-to(xxl) {
		padding-left: $xxl-padding;
		padding-right: $xxl-padding;
	}

	&::before {
		z-index: 1;
		content: "";
		display: block;
		width: 0;
		border-left: 1px solid $brand-color-primary;
		position: absolute;
		// left: calc(50% - 1px);
		left: 50%;
		top: 200px;
		bottom: 125px;

		@include respond-to(md) {
			top: 190px;
			// left: 50%;
			bottom: 140px;
		}

		@include respond-to(xl) {
			bottom: 103px;
		}
	}

	&::after {
		@include respond-to(md) {
			z-index: 1;
			content: "";
			display: block;
			width: 335px;
			height: calc(358px * 5);
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 370px;
			background: url($bgr-dna) center top repeat-y;
		}

		@include respond-to(xl) {
			width: 460px;
			height: calc(490px * 4);
			top: 425px;
		}
	}

	// .about__left
	&__left {
		text-align: left;
	}
	// .about__right
	&__right {
		text-align: right;
		margin-left: 50%;
	}
}

.info {
	position: relative;
	z-index: 3;
	color: $white;
	width: 50%;

	// .info_block1
	&_block1 {
		z-index: 5;
		@include respond-to(xl) {
			margin-top: -55px;
		}
	}

	// .info_block2
	&_block2 {
		margin-top: 300px;

		.info__link {
			padding-left: 14px;

			@include respond-to(md) {
				padding-left: 0;
			}
		}

		@include respond-to(md) {
			margin-top: 30px;
		}

		@include respond-to(xl) {
			margin-top: -130px;
		}
	}

	// .info_block3
	&_block3 {
		margin-top: -115px;
		display: flex;
		flex-direction: column;

		@include respond-to(lg) {
			margin-top: 15px;
		}

		@include respond-to(xl) {
			margin-top: -115px;
		}
	}

	// .info_block4
	&_block4 {
		margin-top: -72px;
		padding-left: 14px;

		@include respond-to(md) {
			margin-top: -100px;
			padding-left: 0;
		}

		@include respond-to(xl) {
			margin-top: 30px;
		}
	}

	// .info_block5
	&_block5 {
		margin-top: 0;
		display: flex;
		flex-direction: column;

		@include respond-to(md) {
			margin-top: -155px;
		}
		@include respond-to(xl) {
			margin-top: -270px;
		}
	}

	// .info_block6
	&_block6 {
		margin-top: 126px;
		margin-bottom: 380px;

		@include respond-to(md) {
			margin-top: 156px;
			margin-bottom: -625px;
		}

		@include respond-to(xl) {
			margin-top: 225px;
			margin-bottom: -756px;
		}
	}

	// .info_block7
	&_block7 {
		position: absolute;
		left: 0;
		margin-top: -285px;
		max-width: calc($max-width / 2);

		@include respond-to(xm) {
			margin-top: -250px;
		}

		@include respond-to(md) {
			padding-right: 65px;
			margin-top: -215px;
		}

		@include respond-to(lg) {
			padding-right: $lg-padding;
		}

		@include respond-to(xl) {
			margin-top: -165px;
			padding-right: $max-padding;
		}

		@include respond-to(xxl) {
			padding-right: $xxl-padding;
		}
	}

	// .info__reg
	&__reg {
		z-index: 1;
		display: block;
		font-size: rem(14);
		font-weight: 400;
		line-height: 1.2;
		color: $white;
		max-width: 160px;

		@include when-inside(".about__left") {
			margin-right: 8px;
		}
		@include when-inside(".about__right") {
			margin-left: 8px;
		}

		@include respond-to(md) {
			font-size: rem(16);
			width: 38%;
			max-width: none;
			padding: 0;

			@include when-inside(".about__left") {
				padding-right: 0;
				margin-right: 0;
			}
			@include when-inside(".about__right") {
				padding-left: 0;
				margin-left: 0;
			}
		}

		@include respond-to(xl) {
			width: 27%;
		}
	}
	// .info__large
	&__large {
		z-index: 1;
		display: block;
		font-size: rem(27);
		font-weight: 500;
		line-height: 1;
		color: $red;
		transition: color $transition-default;

		@include respond-to(md) {
			font-size: rem(43);
		}

		@include respond-to(lg) {
			font-size: rem(50);
		}
	}
	// .info__note
	&__note {
		z-index: 1;
		position: relative;
		margin-top: 20px;
		padding-left: 10px;
		align-self: end;
		max-width: 207px;

		@include respond-to(md) {
			margin-top: 55px;
		}

		@include respond-to(xl) {
			margin-top: 40px;
		}
	}
	// .info__link
	&__link {
		display: flex;
		flex-direction: column;

		&-wrapper {
			position: relative;
			text-decoration: none;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@include when-inside(".about__right") {
				align-items: flex-end;
			}

			@include on-event {
				.info__large {
					color: $white;
				}

				.delimeter {
					&::before,
					&::after {
						border-color: $white;
					}
				}

				.info-population {
					transform: scale(1.05);

					@include respond-to(lg) {
						transform: translateY(-50%) scale(1.05);
					}
				}
				.info-scull {
					transform: scale(1.05);
				}
			}
		}

		&-image {
			z-index: 1;
			transition: all $transition-default;
			order: 1;
			margin-top: 16px;

			@include respond-to(lg) {
				position: absolute;
				margin-top: 0;
			}
		}
	}

	// .info__scale
	&__scale {
		position: relative;
		width: 98%;
		height: 100px;
		margin: 20px 0;

		@include respond-to(xm) {
			height: 115px;
		}

		@include respond-to(md) {
			width: 344px;
			height: 143px;
		}

		@include respond-to(xl) {
			width: 450px;
			height: 155px;
		}
		svg {
			position: absolute;
		}
	}

	// .info__area
	&__area {
		margin-top: 9px;
		width: 150%;
		max-width: 460px;

		@include respond-to(md) {
			width: 96%;
		}

		@include respond-to(lg) {
			width: 413px;
		}

		@include respond-to(xl) {
			width: 460px;
		}
	}

	.info-population {
		width: 175px;
		left: 15px;
		top: 120%;
		margin-right: -8px;

		@include respond-to(md) {
			margin-right: 0;
		}

		@include respond-to(lg) {
			width: 252px;
			top: 50%;
			transform: translateY(-50%) scale(1);
			margin-top: -4px;
		}

		@include respond-to(xl) {
			width: 350px;
			left: 10%;
		}
	}

	.info-scull {
		// left: 7%;
		// top: 25px;

		position: absolute;
		left: -30%;
		margin-top: 45px;

		@include respond-to(lg) {
			width: 77%;
			max-width: 313px;

			left: 7%;
			top: 25px;
			margin-top: 0;
		}

		@include respond-to(xl) {
			max-width: 440px;
			top: 0;
		}
	}

	// .info-area {
	// 	width: 460px;
	// }

	// .info__steps
	&__steps {
		text-align: left;

		.info__large {
			padding-left: 8px;

			@include respond-to(md) {
				padding-left: 110px;
			}

			@include respond-to(xl) {
				padding-left: 124px;
			}
		}

		.delimeter {
			display: block;
			margin-bottom: 11px;
		}

		.info__reg {
			width: 100%;

			@include respond-to(md) {
				padding-left: 114px;
			}

			@include respond-to(xl) {
				padding-left: 127px;
			}
		}
	}
}

.stellers-cow {
	color: $white;
	position: relative;
	z-index: 3;
	margin-top: -140px;
	// margin-right: -130px;

	@include respond-to(md) {
		display: block;
	}

	@include respond-to(xl) {
		margin-top: -160px;
		// margin-right: -130px;
	}

	// .stellers-cow__image
	&__image {
		display: none;
		// margin: -165px 0 0 100px
		margin: 0 auto;
		width: 72%;

		@include respond-to(md) {
			display: block;
		}

		@include respond-to(xl) {
			width: auto;
			max-width: none;
		}
	}
	// .stellers-cow__note
	&__note {
		display: none;
		width: 150px;
		position: absolute;
		left: 48%;
		bottom: 80px;

		@include respond-to(md) {
			display: block;
		}

		@include respond-to(xl) {
			bottom: 165px;
		}
	}
	// .stellers-cow__info
	&__info {
		position: absolute;
		top: 80%;
		left: calc(50% + 7px);
		width: 45%;
		font-size: rem(14);
		line-height: 1.2;
		margin-top: 90px;

		@include respond-to(md) {
			margin-top: 0;
			left: 70%;
			width: 210px;
			font-size: rem(16);
		}

		@include respond-to(xl) {
			top: 38%;
			left: 73%;
			font-size: rem(18);
		}

		strong {
			display: block;
			margin-bottom: 35px;
		}
	}
}

.delimeter {
	width: 100%;
	margin: 5px 0 6px;
	position: relative;

	&::before,
	&::after {
		display: none;
	}

	@include respond-to(md) {
		margin: 10px 0 11px;
	}

	@include respond-to(lg) {
		border-bottom: 2px solid $white;

		&::before,
		&::after {
			display: inline;
		}
	}

	&::before {
		content: "";
		position: absolute;
		transform: translateY(-13px) translateX(-29px);
		height: 28px;
		border-left: 2px solid $cyan;
		transition: all $transition-default;
	}
	&::after {
		content: "";
		position: absolute;
		transform: translateX(-42px);
		width: 28px;
		border-top: 2px solid $cyan;
		transition: all $transition-default;
	}

	@include when-inside(".about__right") {
		text-align: right;

		&::before {
			transform: translateY(-13px) translateX(27px);
		}
		&::after {
			transform: translateX(14px);
		}
	}
}

.portraits {
	display: flex;
	flex-direction: column;
	margin: 20px 0 0;

	@include respond-to(md) {
		flex-direction: row;
		margin: 15px 0 58px;
	}
}

.portrait {
	display: flex;
	position: relative;
	margin-right: 52px;
	margin-bottom: 30px;

	@include respond-to(md) {
		margin-bottom: 0;
	}

	img {
		width: 98px;
	}
	span {
		position: absolute;
		top: 100%;
		left: 110px;
		width: 100%;
		font-size: rem(12);
		transform-origin: 0 0;
		transform: rotate(-90deg);

		@include respond-to(md) {
			// font-size: rem(12);
		}
	}
}

.area {
	// .area__wrapper
	&__wrapper {
		&::after {
			content: "";
			display: none;
			width: 100%;
			height: 65px;
			background: url($brace-narrow) center top / 100% no-repeat;

			@include respond-to(md) {
				display: block;
			}
		}
	}
	// .area__legend
	&__legend {
		padding: 28px 30px 18px;
		background: $grey-light2;

		@include respond-to(md) {
			padding: 28px 85px 0;
			border-bottom: 1px solid $brand-color-secondary;
		}

		@include respond-to(xl) {
			padding: 28px 116px 0;
		}
	}
	// .area__text
	&__text {
		color: $grey-mid;
		font-size: rem(12);
		margin-bottom: 15px;

		@include respond-to(md) {
			font-size: rem(14);
			margin-bottom: 45px;
		}

		strong {
			color: $cyan;
			display: block;
			font-size: rem(27);
			line-height: 1;
			font-weight: 700;

			@include respond-to(md) {
				font-size: rem(45);
			}
		}
	}
	// .area__quote
	&__quote {
		display: none;
		padding: 78px 85px 54px;
		background: $white;

		@include respond-to(md) {
			display: block;
			padding: 78px 65px 54px 60px;
		}

		@include respond-to(xl) {
			padding: 55px 100px 46px 116px;
		}
	}
}

.circle {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	margin-bottom: 5px;

	@include respond-to(md) {
		width: 25px;
		height: 25px;
	}

	// .circle_red
	&_red {
		background: $red;
	}

	// .circle_blue
	&_blue {
		background: $blue;
	}
}

.steps {
	// display: flex;
	// flex-direction: column;
	text-align: left;
	margin-top: 37px;
	margin-left: calc(-60px / 2);

	@include respond-to(md) {
		margin-top: 50px;
		margin-left: 7px;
	}

	@include respond-to(lgx) {
		margin-top: 68px;
	}
	@include respond-to(xl) {
		margin-top: 48px;
	}
}

.step {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 46px;

	@include respond-to(md) {
		flex-direction: row;
	}

	@include respond-to(xl) {
		margin-bottom: 40px;
	}

	&:nth-child(n + 2) {
		color: $text-color;
	}

	&:first-child {
		.step__n {
			&::before {
				display: none;
			}
		}
		.step__descr {
			text-shadow: 0 0 3px $black;
		}
	}

	&:last-child {
		.step__descr {
			&::before {
				display: none;
			}
		}
	}

	// .step_1
	&_1 {
		background: $brand-color-primary;
		color: $cyan;
	}

	// .step_2
	&_2 {
		background: $red;
		color: $blue;
	}

	// .step_3
	&_3 {
		background: #6cdbdd;
		color: $red;
	}

	// .step_4
	&_4 {
		background: $blue;
		color: #6cdbdd;
	}

	// .step_5
	&_5 {
		background: #9004b6;
		color: $red;
	}

	// .step__n
	&__n {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		font-weight: 500;
		width: 60px;
		height: 60px;
		font-size: rem(28);
		padding: 2px 0 0 2px;
		margin-bottom: 17px;

		@include respond-to(md) {
			width: 85px;
			height: 85px;
			font-size: rem(43);
		}

		@include respond-to(xl) {
			width: 98px;
			height: 98px;
			font-size: rem(50);
			padding: 2px 0 0 2px;
		}

		@include respond-to(md) {
			&::before {
				content: "";
				display: block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				position: absolute;
				top: -2px;
				left: calc(50% - 2px);
				background: $cyan;
			}
		}
	}
	// .step__descr
	&__descr {
		position: relative;
		max-width: 450px;

		@include respond-to(md) {
			padding-left: 22px;
		}

		&::before {
			display: none;
			content: "";
			position: absolute;
			left: calc(-85px / 2);
			top: 85px;
			height: 110%;
			border-left: 1px solid $cyan;
			z-index: -1;

			@include respond-to(md) {
				display: block;
			}

			@include respond-to(xl) {
				left: calc(-98px / 2);
			}
		}

		h4 {
			max-width: 390px;
		}

		p {
			max-width: 250px;
			margin: 11px 0 0;
			padding-right: 30px;
			font-size: rem(12);
			line-height: 1.2;

			@include respond-to(md) {
				font-size: rem(14);
				max-width: 270px;
			}

			@include respond-to(lg) {
				font-size: rem(16);
				max-width: 345px;
			}
		}
	}
	// .step__quote
	&__quote {
		margin-left: -15px;
		margin-top: 25px;

		@include respond-to(md) {
			margin-left: -24px;
		}
		@include respond-to(lg) {
			margin-left: 0;
		}
	}
}
