.goal {
	position: relative;
	padding-left: 0;
	padding-right: 0;

	// .goal__text
	&__text {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		transform: translateY(-60%);
		padding-left: 19px;
		font-size: 4.5vw;
		letter-spacing: 2px;

		@include respond-to(lg) {
			font-size: rem(43);
		}
		@include respond-to(xl) {
			font-size: rem(50);
			transform: translateY(-63%);
		}
	}

	// .goal__footnote
	&__footnote {
		position: relative;
		top: -1.2vw;

		@include respond-to(lg) {
			top: -15px;
		}
		@include respond-to(xl) {
			top: -18px;
		}
	}
}
