.summary {
	position: relative;
	background: $brand-color-secondary url(@img/bgr_about.png) 35% 280px no-repeat;

	@include respond-to(md) {
		background-position: center 850px;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: -230px;
		width: 100%;
		height: 232px;
		background: url($brace-blue) center top no-repeat;
	}
}
