.team {
	margin-bottom: -115px;

	// .team__wrapper
	&__wrapper {
		position: relative;
		z-index: 1;
	}
}

.person {
	margin-top: 30px;

	&:nth-child(2) {
		margin-top: 50px;

		@include respond-to(xl) {
			margin-top: 110px;
		}
	}

	&::after {
		z-index: -1;
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 183px;
		left: 0;
		margin-top: -115px;
		// brace-wide
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNDQwIDE4MyI+PHBhdGggc3Ryb2tlPSIjMDIwQjQ5IiBkPSJNMTQ0MCAuMzQ0YzAgNDcuMDc3LTM4LjQ5IDg1LjQ3Ny04NS40OCA4NS40NzdIODYyLjA2MmMtNjMuMzI0IDAtMTE3LjMyMyA0MC4wNjItMTM4IDk2LjE4NWgtOC4xMjRjLTIwLjY3Ny01Ni4xMjMtNzQuNjc2LTk2LjE4NS0xMzcuOTA3LTk2LjE4NUg4NS40NzdDMzguNDkyIDg1LjgyMSAwIDQ3LjQyMSAwIC4zNDQiLz48L3N2Zz4=")
			center top / contain no-repeat;

		@include respond-to(lg) {
			position: absolute;
			width: 100%;
			height: 130px;
			left: 0;
			transform: none;
			margin-top: -91px;
		}

		@media (min-width: 1025px) and (max-width: 1439px) {
			position: relative;
			width: 1440px;
			height: 183px;
			left: 50%;
			transform: translateX(-50%);
			margin-top: -115px;
		}

		@include respond-to(xl) {
			position: absolute;
			width: 100%;
			height: 183px;
			left: 0;
			transform: none;
			margin-top: -115px;
		}

		// position: relative;
		// width: 1440px;
		// height: 183px;
		// left: 50%;
		// transform: translateX(-50%);
		// margin-top: -115px;
	}

	// &::before {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	width: 100%;
	// 	left: 0;
	// 	bottom: 84px;
	// 	border-top: 1px solid $brand-color-secondary;
	// 	z-index: -1;
	// }

	// .person__info
	&__info {
		display: flex;
	}

	// .person__col
	&__col {
		flex-basis: 50%;
		// .person__col_left
		&_left {
			display: flex;
			align-items: flex-end;
			position: relative;
			padding-left: 75px;
			min-height: 230px;

			@include respond-to(xl) {
				padding-left: 115px;
			}
		}
		// .person__col_right
		&_right {
			// flex-basis: 700px;
			padding-left: 32px;
			display: flex;
			align-items: center;
		}
	}
	// .person__wrapper
	&__wrapper {
		z-index: 1;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	// .person__name
	&__name {
		margin-top: 10px;
	}
	// .person__position
	&__position {
		transform-origin: top left;
		transform: rotate(-90deg);
		line-height: 1.2;
		color: $brand-color-secondary;
		position: absolute;
		width: 50%;
		top: 100%;
		margin-top: -27px;
	}
	// .person__photo
	&__photo {
		// width: 336px;
		filter: saturate(0);
		transition: all $transition-default;
		border-bottom: 2px solid transparent;
		max-width: 260px;

		@include respond-to(xl) {
			max-width: 340px;
		}
		&.in-color {
			filter: none;
			border-bottom-color: $brand-color-secondary;
		}
	}

	// // .person__quote
	// &__quote {
	// 	margin: 70px auto;
	// }
	// .person__article
	&__article {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s ease-out;
	}
	// .person__control
	&__control {
		position: relative;
		top: -12px;
	}
}

.plus-box {
	width: 28px;
	height: 28px;
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	// .plus-box_active
	&_active {
		&::before {
			transform: rotate(90deg);
		}
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		transition: all $transition-default;
	}
	&::before {
		height: 28px;
		border-left: 2px solid $cyan;
	}
	&::after {
		width: 28px;
		border-top: 2px solid $cyan;
	}
}

.article {
	padding: 70px 0;

	// .article__row
	&__row {
		display: flex;
		margin-bottom: 45px;

		&:last-child {
			margin-bottom: 0;

			.article__header {
				border-bottom: 0;
			}
		}
	}
	// .article__header
	&__header {
		flex: 1;
		margin: 0 15px 0 116px;
		border-bottom: 2px solid $brand-color-secondary;

		h4 {
			margin-right: 50px;
		}
	}
	// .article__content
	&__content {
		flex-basis: 50%;
		padding-bottom: 60px;

		@include respond-to(xl) {
			flex-basis: 700px;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	// .article__quote
	&__quote {
		margin: 37px auto 40px;
	}
}
