@charset "UTF-8";

// 1. Configuration and helpers
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// 2. Vendors
@import "vendors/normalize";
@import "vendors/reset";
@import "~@fancyapps/ui/dist/fancybox/fancybox";
@import "~@fancyapps/ui/dist/carousel/carousel";
@import "abstracts/fancyapps-vars-overrides";
@import "~@splidejs/splide/dist/css/splide.min";

// 3. Base stuff
@import "base/base";
@import "base/fonts";
@import "base/grid";
@import "base/typography";
@import "base/helpers";
@import "base/icons-common";
@import "base/icons-pseudo";

// 4. Layout-related sections
@import "layout/header";
@import "layout/summary";
@import "layout/section_goal";
@import "layout/section_about";
@import "layout/expedition";
@import "layout/team";
@import "layout/news-main";
@import "layout/news-list";
@import "layout/news-item";
@import "layout/news-element";
@import "layout/publications";
@import "layout/footer";

// 5. Components
@import "components/logo";
@import "components/nav";
@import "components/social";
@import "components/quote";
@import "components/button";
@import "components/pagination";
@import "components/modal";

@import "components/form";
@import "components/checkbox";
@import "components/svg-sprite";

// 6. Page-specific styles
@import "pages/home";

// 7. Themes
@import "themes/default";